*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap column;
    align-items: center;
}
.box1 {
    font-size: 100px;
    width: 200px;
    height: 200px;
    background-color: red;
}
.box2 {
    font-size: 100px;
    width: 100px;
    height: 100px;
    background-color: blue;
}
.box3 {
    font-size: 100px;
    width: 300px;
    height: 300px;
    background-color: green;
}
.box4 {
    font-size: 100px;
    width: 400px;
    height: 400px;
    background-color: yellow;
}